body{
  background: rgb(227, 233, 247);
}
* {
  box-sizing: border-box;
}
p{
  margin: 2px 0;
}

.dark-theme{
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: none;
  background: rgb(27, 104, 248);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  outline: 0;
}
.dark-theme-background{
  background: orange;
}
.dark-theme i{
  color: white;
  font-size: 1.6rem;
}

.container{
  margin: 0 auto;
  padding: 0 10px;
  max-width: 420px;
  padding-top: 30px;
}
.card{
  background: white;
  border-radius: 30px;
  position: relative;
  padding: 10px 0 30px 0;
  margin-bottom: 30px;
}
.description{
  display: flex;
  padding-left: 10px;
}
.profileImg{
  width: 16.666%;
  padding: 7px;
}
.date{
  display: flex;
  justify-content: end;
}
.user-name{
  font-size: 1.1rem;
  color: rgb(27, 104, 248);
}
.user-name-dark{
  color:rgb(27, 178, 248);
  font-size: 1.1rem;
}
.date div{
  position: absolute;
  width: 95%;
  text-align: end;
  color: rgb(172, 168, 204)
}
.profileImg img{
  border-radius: 50%;
}
.comment{
  padding: 7px;
}
img{
  width: 100%;
}

.dark-color-1{
  background: rgb(36, 36, 36);
}
.dark-color-2{
  background: rgb(20, 20, 20);
  color: white;
}
